## Predizer a nota de matemática de um candidato do ENEM baseado nas outras notas

### Importação das bibliotecas

In [126]:
%matplotlib inline
import math
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn import metrics
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt
from sklearn import svm

## Leitura do arquivo

In [127]:
data = pd.read_csv("train.csv")

In [128]:
data.shape

(13730, 167)

## Filtragem das colunas importantes para um novo dataset

In [129]:
dados = pd.DataFrame()
dados['NU_NOTA_CN'] = data['NU_NOTA_CN']
dados['NU_NOTA_CH'] = data['NU_NOTA_CH']
dados['NU_NOTA_LC'] = data['NU_NOTA_LC']
dados['NU_NOTA_REDACAO'] = data['NU_NOTA_REDACAO']
dados['NU_NOTA_MT'] = data['NU_NOTA_MT']

## Remoção das linhas com elementos faltantes

In [107]:
dados.isnull().sum()

NU_NOTA_CN         3389
NU_NOTA_CH         3389
NU_NOTA_LC         3597
NU_NOTA_REDACAO    3597
NU_NOTA_MT         3597
dtype: int64

In [108]:
dados = dados.dropna(0)

In [109]:
dados.shape

(10097, 5)

In [110]:
dados.isnull().sum()

NU_NOTA_CN         0
NU_NOTA_CH         0
NU_NOTA_LC         0
NU_NOTA_REDACAO    0
NU_NOTA_MT         0
dtype: int64

In [111]:
dados.describe()

         NU_NOTA_CN    NU_NOTA_CH    NU_NOTA_LC  NU_NOTA_REDACAO    NU_NOTA_MT
count  10097.000000  10097.000000  10097.000000     10097.000000  10097.000000
mean     473.912509    530.346123    516.665059       529.452907    482.648638
std       71.098468     73.528309     68.442602       154.001881     99.685820
min        0.000000      0.000000      0.000000         0.000000      0.000000
25%      420.100000    481.000000    468.600000       440.000000    409.000000
50%      460.400000    532.600000    521.100000       540.000000    461.300000
75%      515.100000    581.900000    564.900000       600.000000    537.700000
max      806.400000    807.000000    763.600000      1000.000000    952.000000

## Criação dos datasets de treino e testes

In [113]:
values = dados.values
np.random.seed(1)
np.random.shuffle(values)
n = 4
x_train = values[:897, 0:n]
y_train = values[:897, n]
x_test = values[897: , 0:n]
y_test = values[897:, n]

## Criação do modelo de regressão linear, treinamento e predição

In [114]:
modelo = linear_model.LinearRegression()
modelo.fit(x_train, y_train)
predicao = modelo.predict(x_test)

In [115]:
real_predicao = pd.DataFrame()
real_predicao['Real'] = y_test
real_predicao['Predicao'] = predicao
real_predicao.head(5)

    Real    Predicao
0  344.4  493.460625
1  446.1  446.356139
2  491.3  559.997843
3  417.8  395.176674
4  387.8  380.727821

## Métricas de avaliação

In [116]:
math.sqrt(metrics.mean_squared_error(y_test, predicao))

77.19530016876459

In [117]:
metrics.mean_absolute_error(y_test, predicao)

61.21301810278986